*{ 
    font-family: "Inter", sans-serif; 
    font-size: 13px; 
}

.app { 
    display: flex; 
    height: 100vh;
    overflow: hidden;
}

.main-content{ 
    flex: 1; min-width: 0; 
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-main-content); 
    color: var(--color-text-secondary); 
    padding: 20px;
}
