@import url(variables.css);
@import url(reset.css);

*{
     font-family: "Inter", sans-serif;
     font-size: 13px;
}

.app {
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: var(--color-sidebar);
    color: var(--color-text-primary);
    width: 250px;
    height: 100vh;

    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nexora-logo{
    width: 85%;
    height: auto;
    margin-bottom: 20px;
}

.main-content{
    flex: 1;
    min-width: 0;
    min-height: 100vh;
    background-color: var(--color-main-content);
    color: var(--color-text-secondary);
}

nav{
    margin-top: 17px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 17px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 2px;
    border: none;
    background-color: var(--color-cards-secondary);
}

.skill-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skill-logo{
    width: 40px;
    height: 40px;
}

.skill-button{
    background-color: var(--color-cards-secondary);
    padding: 10px;
    border-radius: var(--border-radius-default);
    color: var(--color-text-primary);
}

.skill-button-upper{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo-title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo-title img{
    width: 27px;
    height: 27px;
}

.theme-check-icon-container{
    background-color: var(--color-secondary);
}

.skill-button-progress-bar {
    width: 100%;
    height: 8px;
    appearance: none;
    border: none;
    border-radius: var(--border-radius-default);
}

.skill-button-progress-bar::-webkit-progress-bar {
    background-color: #30494b;
}

.skill-button-progress-bar::-webkit-progress-value {
    background-color: #69c978;
}

.skill-button-progress-bar::-moz-progress-bar {
    background-color: #69c978;
}

.btn{
    width: 100%;
}

.btn-add-skill{
    background-color: var(--color-cards-secondary);
    color: var(--color-text-highlight);
    border-color: var(--color-text-highlight);
    border-style: solid;
    border-width: 1px;
    height: 40px;
    border-radius: var(--border-radius-default);

}

.total-progress{
    margin-top: 40px;
    padding: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--color-cards-secondary);
    border-radius: var(--border-radius-default);
}

.total-percentage{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.total-progress-text{
    display: flex;
    text-align: center;
    line-height: 27px;

}

.btn-settings{
    color: var(--color-text-primary);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-circle {
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;

    background: conic-gradient(
        #69c978 var(--progress),
        #30494b 0
    );

    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-circle::before {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #102b2e;
    position: absolute;
}

.progress-circle span {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 24px;
    font-weight: 600;
}