:root {
    --color-sidebar: #0C2026;
    --color-main-content: #FBFAF7; 
    --color-cards: #FEFBFB;
    --color-cards-secondary: #162B31;
    --color-text-primary: #FBFEFD;
    --color-text-secondary: #01141E;
    --color-text-highlight: #5DB373;

    --color-secondary: #197756;

    --border-radius-default: 7px;
}